<template name="menuAdd">
  <form class="main form page">
    <div class="modal-body">
        <div class="form-group">
            <label for="#title" class="control-label">Name</label>
            <input type="text" placeholder="Enter item name" id="title" class="form-control">
        </div>
        <div class="form-group">
            <label for="#price" class="control-label">Price</label>
            <input type="text" placeholder="Enter item price" id="price" class="form-control">
        </div>
        <a class="add btn btn-primary">Add</a>
      </div>
  </form>
</template>